:host {
    position: relative;
    display: flex;
    width: min-content;
}

.map-background {
    height: 100vh;
    border: 2px solid black;
    border-radius: 10px;
}

.flyby-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #30ff6e;
    padding: 8px 16px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 1px solid white;

    &.disabled {
        background-color: gray;
    }

    &:hover {
        &:not(.disabled) {
            cursor: pointer;
            background-color: #30df64;
        }
    }
}

satellite-sprite {
    position: absolute;
}

flyby-sprite {
    position: absolute;
}
