<div style="display: flex; flex-direction: column; align-items: center">
    <span
        class="flyby-button"
        [ngClass]="{
            disabled:
                this.selectedSatellite === undefined || this.flyby !== undefined
        }"
        (click)="this.onCalculateFlybyButtonClick($event)"
    >
        Calculate next closest flyby
    </span>

    <div *ngFor="let satellite of this.satellites">
        <satellite-sprite
            [name]="this.satellite.name"
            (elementChange)="this.animateSatellite(satellite, $event)"
            (click)="this.onSatelliteClick(satellite)"
        ></satellite-sprite>
    </div>
    <img
        class="map-background"
        src="assets/mercator-2.jpg"
        [style]="{ cursor: this.cursor() }"
        (click)="this.onMapClick($event)"
    />
    <flyby-sprite
        *ngIf="this.flyby !== undefined"
        [id]="'flyby-sprite'"
        [flyby]="this.flyby"
        (elementChange)="this.moveFlybySprite($event, this.flyby)"
    >
    </flyby-sprite>
</div>
