:host {
    position: relative;
    display: flex;
    width: min-content;
}

.map-background {
    height: 100vh;
    border: 2px solid black;
    border-radius: 10px;
}

.flyby-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4acb7;
    padding: 8px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 1px solid #b37a82;

    &.disabled {
        background-color: gray;
    }

    &:hover {
        &:not(.disabled) {
            cursor: pointer;
            background-color: #ee9ca8;
        }
    }
}

satellite-sprite {
    position: absolute;
    cursor: pointer;
    &:hover {
        background-color: rgba($color: (#8ecae6), $alpha: 0.1);
        border: 2px rgba($color: (#8ecae6), $alpha: 0.1);
        border-radius: 32px;
    }
}
