$background: rgba($color: silver, $alpha: 0.9);

:host {
    transform: translate(-50%, -58%);
}

span {
    text-align: center;
}

.textbox {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: $background;
    border-radius: 8px;
    padding: 2px;
    font-size: 12px;
}

.arrow {
    height: 0px;
    width: 0px;
    border-width: 8px;
    top: -1px;
    border-color: $background transparent transparent transparent;
    border-style: solid;
}

.dot {
    border-radius: 50%;
    background: red;
    height: 8px;
    width: 8px;
}