$highlight: rgba($color: (#6aee91), $alpha: 0.3);

@mixin highlighted {
    background-color: $highlight;
    border: 2px $highlight;
    border-radius: 32px;
}

.satellite-outline {
    transform: translate(-50%, -50%);

    cursor: pointer;
    &:hover {
        @include highlighted();
    }
}

.clicked {
    @include highlighted();
}

img {
    width: 50px;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: max-content;
    background: silver;
    opacity: 0.6;
    padding: 4px;
    border-radius: 8px;
}
