h1 {
    font-weight: 100;
}

.flyby-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4acb7;
    padding: 8px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 1px solid #b37a82;

    &.disabled {
        background-color: gray;
    }

    &:hover {
        &:not(.disabled) {
            cursor: pointer;
            background-color: #ee9ca8;
        }
    }
}
